//base//
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}
a, li, button, input, textarea, select {
    all: unset;
}

//ANIMATIONS// 
//navigation// 
@keyframes nav-item-hover {
    0% {
        color: var(--text-color);
    }
    100% {
        color: var(--main-color);
        scale: 1.3;
    }
}
//movements//
@keyframes horse-movement {
    0% {
        left: 195px;
    }
    100% {
        left: 0;
    }
}

@keyframes bg-movement {
    0% {
        left: -114px;
    }
    100% {
        left: -514px;
    }
}

@keyframes text-movement {
    0% {
        left: 414px;
    }
    100% {
        left: 24px;
    }
}
@keyframes title-movement {
    0% {
        left: 24px;
    }
    100% {
        left: -366px;
    }
}
@keyframes checkbox-movement {
    0% {
        left: 48px;
    }
    100% {
        left: -342px;
    }
}

//variables// 
:root {

    //fonts// 
    --main-font: 'Aref Ruqaa', serif;

    //colors// 
    --main-color: #C62368;
    --secondary-color: #D17070;
    --text-color: #001220;
    --btn-color: #4E663F33;
    --action-color: #fa7268; 

    //font weights// 
    --w-regular: 400;
    --w-bold: 700;

    //font sizes// 
    --s-small: 12px;
    --s-regular: 16px;
    --s-medium: 24px;
    --s-large: 36px;

    //box shadow// 
    --box-shadow-btn: 0px 4px 4px rgba(0, 18, 32, 0.25);

}

//reusables// 
.btn {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    box-shadow: var(--box-shadow-btn);
    color: var(--text-color);
    text-align: center;
    background-color: var(--btn-color);
}

//IPHONE SIZE// 
.container-iphone {
    width: 390px;
    height: 844px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    position: relative;
    border-radius: 12px;
    background-color: var(--main-color);
    overflow: clip;
}

//HEADER// 
.header {
    width: 390px;
    height: 56px;
    z-index: 3;
    position: absolute;
    bottom: 34px;
    background-color: var(--action-color);
    .nav {
        width: 294px;
        position: absolute;
        top: 14px;
        left: 48px;
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }  
        &__item {
            color: var(--text-color);
            font-size: var(--s-medium);
            text-align: center;
            &:hover {
                animation: nav-item-hover 0.4s;
                animation-fill-mode: forwards;
            }
        } 
    }
}

//MAIN//
.main {
    //BG img// 
    &__bg {
        width: 780px;
        height: 844px;
        position: absolute;
        top: 0px;
        left: -114px;
    }
    //HORSE img//
    &__img {
        width: 390px;
        height: 390px;
        position: absolute;
        top: 125px;
        left: 195px;
        animation: swing;
        animation-iteration-count: infinite;
    }

    //CHECKBOX styling// 
    &__checkbox {
        background-color: transparent;
        width: 390px;
        height: 390px;
        position: absolute;
        top: 125px;
        left: 195px;
        z-index: 5;
        &:checked ~ .main__img {
            animation: horse-movement 1s;
            animation-fill-mode: forwards;
        }
        &:checked ~ .main__bg {
            animation: bg-movement 1s;
            animation-fill-mode: forwards;
        }
        &:checked ~ .main__name,
        &:checked ~ .main__artist,
        &:checked ~ .main__description {
            animation: text-movement 1s;
            animation-fill-mode: forwards;
        }
        &:checked ~ .main__title {
            animation: title-movement 1s;
            animation-fill-mode: forwards;
        }
    }   

    //TEXTS//
    &__title {
        font-weight: var(--w-bold);
        color: var(--action-color);
        font-size: var(--s-large);
        line-height: 56px;
        position: absolute;
        left: 24px;
        top: 570px;
        &:hover {
            color: var(--main-color);
            transition: color 2s ease-in-out;
        }
    }
    &__name {
        font-weight: var(--w-bold);
        color: var(--text-color);
        font-size: var(--s-medium);
        line-height: 38px;
        text-align: right;
        width: 342px;
        position: absolute;
        top: 542px;
        left: 414px;
    }
    &__artist {
        font-weight: var(--w-regular);
        color: var(--text-color);
        font-size: var(--s-regular);
        line-height: 25px;
        text-align: right;
        width: 342px;
        position: absolute;
        left: 414px;
        top: 580px;
    }
    &__description {
        font-weight: var(--w-regular);
        color: var(--text-color);
        font-size: var(--s-small);
        text-align: left;
        width: 342px;
        position: absolute;
        left: 414px;
        top: 630px;
        line-height: 19px;
    }
}



