//base//
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}

//variables// 
:root {

    //fonts// 
    --main-font: 'Aref Ruqaa', serif;

    //colors// 
    --main-color: #C62368;
    --secondary-color: #D17070;
    --text-color: #001220;
    --btn-color: #4E663F33;

    //font weights// 
    --w-regular: 400;
    --w-bold: 700;

    //font sizes// 
    --s-small: 12px;
    --s-regular: 16px;
    --s-medium: 24px;
    --s-large: 36px;

    //transformations// 
    --btn-transform: ;

}